/target
**/*.rs.bk
.DS_Store
/assets/
!/assets/models/
!/assets/models/Pinguin_001.glb
!/assets/models/Tiger_001.glb
!/assets/models/Frog.glb
!/assets/models/Superhero_Male_FullBody.gltf
!/assets/models/Superhero_Male_FullBody.bin
!/assets/models/T_*.png
